.tag-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.possible-champions,
.reset-button {
    background-color: black;
    color: gold;
    margin: 2%;
}

button:hover {
    cursor: pointer;
}