body {
  background-color: darkblue;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
}

.champion-load {
  margin-top: 10%;

}

.welcome-message {
  margin-bottom: 40%;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  left: 500px;
}

.drop-down {
  margin-bottom: 40%;
}