body {
  background-color: darkblue;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
}

.champion-container {
  margin-top: 100%;
  margin-right: 60%;

}

.welcome-message {
  margin-bottom: 40%;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  left: 500px;
}

.filter-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 40%;
}