.champion-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 120%;
    margin-left: 15%;
}

.feature-champions-key {
    display: grid;
    grid-template-columns: repeat(4, 70%);
    height: 40px;
    width: 450px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media(max-width:830px) {
    .champion-container {
        width: 25%;
        margin-bottom: 90%;
        margin-right: 40%;
    }

    .feature-champions-key {
        display: grid;
        grid-template-columns: repeat(3, 50%);
    }
}