.champion-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 120%;
    margin-left: 20%;
}

.champion-container h2 {
    display: grid;
    grid-template-columns: repeat(4, 70%);
    height: 40px;
    width: 450px;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}